body {
  margin: 0;
  /* padding: 10px; */
  font-family: sans-serif;
}

.App {
  display: flex;
}

.App > div {
  flex: 1;
}

.App .result {
  background-color: LightBlue;
  padding: 10px;
}

.App .search {
  padding: 10px;
}

.App .search input {
  width: 100%;
  margin-bottom: 10px;
}

.App .search ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App .search ul li {
  padding: 10px;
  cursor: pointer;
  transition: .1s;
}

.App .search ul li:nth-child(odd) {
  background-color: LightGreen;
}

.App .search ul li:hover {
  background-color: green;
  color: white;
}
